---

- include: percona.yml
  when: mysql_package == "percona"

- name: Install mysql
  apt: name={{ item }}
  with_items:
    - "{{ mysql_package }}-server"
  notify: restart mysql
  when: mysql_package == "mysql" or mysql_package == "mariadb"

- name: Install percona
  apt: name={{ item }}-{{ percona_version }} state=latest allow_unauthenticated=yes
  with_items:
    - "{{ mysql_package }}-server-server"
  notify: restart percona
  when: mysql_package == "percona" and percona_version is defined

- name: Generate secure mysql credentials
  mysql_user: name=root host={{ item }} password="{{ mysql_root_pass}}"
  with_items: "{{ mysql_hosts }}"

- name: .my.cnf for root
  template: src=root.cnf.j2 dest=~/.my.cnf mode=0600 force=yes

- name: server.cnf
  template: src=server.cnf.j2 dest=/etc/mysql/conf.d/server.cnf mode=0600 force=yes
  when: mysql_config|default(False)

- name: Delete anonymous mysql user
  mysql_user: name="" state=absent

- name: Remove mysql test database
  mysql_db: name=test state=absent
