# {{ ansible_managed }}

{% for key, value in mysql_config.items() %}
[{{ key }}]
{% for key, value in value.items() %}
{{ key }}{% if value|default(false) %} = {{ value }}{% endif %}

{% endfor %}

{% endfor %}
